@charset "utf-8";

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 64px 0;
}

.buttons * {
  margin: 0.5rem;
}

.inputArea {

}

.inputLabel {
  display: flex;
  flex-direction: column;
}

.input {
  
}